<Layouts.flash_group flash={@flash} />
<div class="min-h-screen w-full">
  <div class="mx-auto flex min-h-screen max-w-7xl flex-col lg:flex-row">
    <!-- Left -->
    <section class="flex w-full items-center justify-center border-b border-border px-8 py-16 lg:w-1/2 lg:border-b-0 lg:border-r">
      <div>
        <h1 class="text-7xl font-black tracking-tight sm:text-8xl">
          [ Re<span class="text-yellow-600">track</span> ]
        </h1>
      </div>
    </section>

    <!-- Right -->
    <section class="flex w-full items-center px-8 py-16 lg:w-1/2">
      <div class="max-w-xl space-y-8">
        <div class="inline-flex rounded-full border px-3 py-1 text-sm font-medium text-yellow-600">
          Coming Soon
        </div>

        <h2 class="text-4xl font-bold tracking-tight sm:text-4xl">
          <span class="text-yellow-600">Smarter</span> Documents
        </h2>

        <h2 class="text-4xl font-bold tracking-tight sm:text-4xl">
          It's that <span class="text-yellow-600"> simple </span>
        </h2>

        <p class="text-lg leading-8">
          Retrack is an <span class="text-yellow-600"> open-source </span> self-hosted Business Document Runtime that
          transforms documents from static files into collaborative,
          programmable business workflows.
        </p>
      </div>
    </section>
  </div>
</div>
