<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Retrack" suffix=" · Phoenix Framework" phx-no-format>{assigns[:page_title]}</.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const systemTheme = () => matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.setAttribute("data-theme", systemTheme());
            document.documentElement.setAttribute("data-theme-source", "system");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
            document.documentElement.setAttribute("data-theme-source", "user");
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));

        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));

        matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
          if (document.documentElement.getAttribute("data-theme-source") === "system") {
            document.documentElement.setAttribute("data-theme", systemTheme());
          }
        });
      })();
    </script>
  </head>
  <body class="font-sans flex min-h-screen flex-col">
      <nav class="">
        <div class="mx-auto flex h-16 max-w-5xl items-center justify-between px-6">
          <a href="/" class="text-3xl font-semibold tracking-widest hover:text-yellow-600 ">
            [ RE<span class="text-yellow-600">TRACK</span> ]
          </a>

          <div class="flex items-center gap-8">
            <a
              href="/"
              class="pb-1 text-lg font-medium hover:text-yellow-600"
            >
              [ Home ]
            </a>

            <a
              href="/blog"
              class="pb-1 text-lg font-medium hover:text-yellow-600"
            >
              [ Blog ]
            </a>
          </div>
        </div>
      </nav>
      <main class="flex flex-1">
        {@inner_content}
      </main>
    <footer class="border-t border-slate-200">
      <div class="mx-auto flex max-w-5xl flex-col items-center justify-between gap-4 px-6 py-8 text-sm sm:flex-row">
        <p>&copy;{"#{Date.utc_today().year}  Retrack. All rights reserved."}</p>

        <nav aria-label="Footer navigation">
          <ul class="flex items-center gap-6">
            <li>
              <a
                href="/"
                class=""
              >
                Home
              </a>
            </li>

            <li>
              <a
                href="/blog"
                class=""
              >
                Blog
              </a>
            </li>

            <li>
              <a
                href="/blog"
                class=""
              >
                Github
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
