<Layouts.flash_group flash={@flash} />
<div class="mx-auto flex flex-col flex-1 p-6">
  <%= unless @preview do %>
    <div class="w-full flex justify-around my-10">
      <h1 class="text-2xl">New Blog Post</h1>
    </div>

    <div class="w-full min-w-[80%] w-[80%] lg:min-w-[75%] lg:w-[75%] flex mx-auto">
      <.form
        for={@form}
        phx-change="validate"
        phx-submit="toggle_preview"
        class="space-y-6 w-full"
      >
        <.input
          field={@form[:title]}
          type="text"
          label="Blog Title"
          class="w-full rounded-sm border border-primary p-2 text-base"
        />

        <.input
          field={@form[:tags]}
          type="text"
          label="Tags"
          class="w-full rounded-sm border border-primary p-2 text-base"
        />

        <.input
          field={@form[:body]}
          type="textarea"
          label="Body"
          class="w-full min-h-[50vh] h-[50vh] rounded-sm border border-primary p-2 text-base"
        />

        <.button class="p-1 my-2 border rounded-sm hover:border-primary w-32 hover:cursor-pointer">
          Preview
        </.button>
      </.form>
    </div>
  <% else %>
    <RetrackWeb.BlogLive.Components.ShowPost.post
      id="preview"
      title={@form[:title].value}
      body={@form[:body].value}
      author_name={@form[:author_name].value}
      tags={@form[:tags].value}
    />
    <div class="w-full flex justify-between">
      <button
        phx-click="toggle_preview"
        class="p-1 border rounded-sm hover:border-primary w-32 hover:cursor-pointer"
      > Edit Post </button>

      <button
        phx-click="create_blog"
        class="p-1 border rounded-sm hover:border-primary w-32 hover:cursor-pointer"
      > Publish Post </button>
    </div>
  <% end %>
</div>
